<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <button onclick="location.href='/admin/competition'">活動競賽</button>
    <button onclick="location.href='/admin/user-query'">查詢用戶</button>
</body>
</html>
