<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>港動噪浪</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="/javascripts/home.js"></script>
</head>
<body>
    <div id="container">
        <nav id="nav-bar">
            <a href="#"><img id="nav-logo" src="/media/home/nav-logo.png" alt=""></a>
            <div id="nav-items">
                <a href="#item2"><p>流程表</p></a>
                <a href="#item4"><p>交通</p></a>
                <a href="#item5"><p>周邊</p></a>
                <a href="https://fanwan.kktix.cc/events/dynamicwave" target="_blank"><p>售票</p></a>
                <a id="start-btn-wrap" href="/game" target="_blank">
                    <img id="start-btn" src="/media/home/start-btn.png" alt="">
                    <p>開始遊戲</p>
                </a>
            </div>
            <div id="hamburger">☰</div>
        </nav>
        <img id="bg" src="/media/home/bg.png" alt="bg">
        <div id="title">
            <img id="logo" src="/media/home/logo.png" alt="logo">
            <div id="btns">
                <a id="btn1-wrap" href="https://fanwan.kktix.cc/events/dynamicwave" target="_blank">
                    <img id="btn1" src="/media/home/btn1.png" alt="">
                </a>
                <a id="btn2-wrap" href="/game" target="_blank">
                    <img id="btn2" src="/media/home/btn2.png" alt="">
                </a>
            </div>
        </div>
        <div id="item1">
            <div id="clock-container">
                <img id="countdown" src="/media/home/countdown.png" alt="">
                <p id="clock"></p>
            </div>
            <div id="score-container">
                <img id="score-panel" src="/media/home/score-panel.png" alt="">
                <img id="blue-team" src="/media/home/blue-team.png" alt="">
                <p id="blue-score"></p>
                <img id="yellow-team" src="/media/home/yellow-team.png" alt="">
                <p id="yellow-score"></p>
            </div>
        </div>
        <div id="item2">
            <img id="agenda1" src="/media/home/agenda1.png" alt="">
            <img id="agenda2" src="/media/home/agenda2.png" alt="">
        </div>
        <div id="item3">
            <img id="field" src="/media/home/field.png" alt="">
        </div>
            <div id="item4">
            <img id="traffic" src="/media/home/traffic.png" alt="">
        </div>
        <div id="item5">
            <img id="merch" src="/media/home/merch.png" alt="">
        </div>
    </div>
</body>
</html>