<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>港動噪浪</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <div id="main-container">
    <nav id="nav-bar">
      <a href="#"><img id="nav-logo" src="/media/index/nav-logo.png" alt="nav-logo"></a>
      <div id="nav-items">
        <a href="#item2">
          <p>流程表</p>
        </a>
        <a href="#item3">
          <p>場域</p>
        </a>
        <a href="#item4">
          <p>周邊</p>
        </a>
        <a href="https://fanwan.kktix.cc/events/dynamicwave" target="_blank">
          <p>售票</p>
        </a>
        <a href="https://www.instagram.com/dynamicwave_tw" target="_blank">
          <p>追蹤我們</p>
        </a>
        <a id="start-btn-wrap" href="/game" target="_blank">
          <img id="start-btn" src="/media/index/start-btn.png" alt="start-btn">
          <p>開始遊戲</p>
        </a>
      </div>
      <div id="hamburger">☰</div>
    </nav>
    <img id="bg" src="/media/index/bg.png" alt="bg">
    <div id="title">
      <img id="logo" src="/media/index/logo.png" alt="logo">
      <div id="btns">
        <a id="btn1-wrap" class="btn-wrap" href="https://fanwan.kktix.cc/events/dynamicwave" target="_blank">
          <img id="btn1" class="btn" src="/media/index/btn1.png" alt="btn1">
        </a>
        <a id="btn2-wrap" class="btn-wrap" href="/game" target="_blank">
          <img id="btn2" class="btn" src="/media/index/btn2.png" alt="btn2">
        </a>
      </div>
    </div>
    <div id="item1" class="item">
      <div id="clock-container">
        <img id="countdown" src="/media/index/countdown.png" alt="countdown">
        <p id="clock"></p>
      </div>
      <div id="score-container">
        <img id="score-panel" src="/media/index/score-panel.png" alt="score-panel">
        <img id="blue-vortex" class="vortex" src="/media/index/blue-vortex.png" alt="blue-vortex">
        <p id="blue-score" class="score">0</p>
        <img id="yellow-vortex" class="vortex" src="/media/index/yellow-vortex.png" alt="yellow-vortex">
        <p id="yellow-score" class="score">0</p>
      </div>
    </div>
    <div id="item2" class="item">
      <img id="agenda1" src="/media/index/agenda1.png" alt="agenda1">
      <img id="agenda2" src="/media/index/agenda2.png" alt="agenda2">
    </div>
    <div id="item3" class="item">
      <img id="field1" src="/media/index/field1.png" alt="field1">
      <img id="field2" src="/media/index/field2.png" alt="field2">
      <img id="field3" src="/media/index/field3.png" alt="field3">
    </div>
    <div id="item4" class="item">
      <img id="merch" src="/media/index/merch.png" alt="merch">
    </div>
  </div>
</body>

</html>